.card {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 95%;
    height: 93%;
    margin: 3em auto 0;
    position: relative;
    font-family: -apple-system, "San Francisco", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

}

.cardBody {
    flex: 1 1 auto;
    padding: 1.5rem;
    overflow-y: auto;
    height: 100%;
    position: relative;
}

/* Custom scrollbar styling */
.cardBody::-webkit-scrollbar {
    width: .5em;
}

.cardBody::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 8px;
}

.cardBody::-webkit-scrollbar-track {
    background-color: #f8f8f8;
    border-radius: 8px;
    margin: 6em 0 0 0;
}

@media (min-width: 1800px) {
    .card {
        width: 90%;
        height: 94%;
    }
}

