.popupBox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: right;
    align-items: center;
    z-index: 20;
}

.box {
    position: absolute;
    top: 50%;
    left: 56%;
    padding: 1em;
    width: 22em;
    background-color: #f8f8f8;
    border-radius: 20px;
    overflow-y: auto;
    z-index: 20;
    transform: translate(-50%, -50%);
    margin: 0;
    height: 17.3em;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content h1 {
    color: red;
}

.content span {
    font-size: 1.1em;
}

.content p {
    color: red;
    font-size: .9em;
    margin-top: 1em;
}

.button {
    margin-top: auto;
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: -6em;
    padding-right: 1em;
}

