.popupBox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.previewContainer {
    position: fixed;
    top: 2.5em;
    right: 0;
    width: 45%;
    height: 100vh;
    overflow: auto;
    background-color: #333639;
    padding: 20px;
}

.img {
    height: 2em;
    cursor: pointer;
    position: fixed;
    right: .5em;
}
