.header {
    font-family: -apple-system, "San Francisco", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3em;
    background: #041F47;
    color: #fff;
    list-style: none;
    position: fixed;
    z-index: 101;
    width: 100%;
}

.logoAndName {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.h1 {
    font-size: 1.2em;
    margin: 0;
    cursor: default;
}

.img {
    padding-right: 1em;
    height: 1.7em;
    cursor: pointer;
}
