.headers {
    display: flex;
    padding: 1em;
    width: 100%;
    z-index: 10;
    flex-direction: column;
}

.headers h1 {
    font-size: 28px;
    margin-right: auto;
}

.hr {
    margin: 0;
}

.sheetTable {
    margin-left: 4em;
    font-family: -apple-system, "San Francisco", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 1em;
    text-align: left;
}

.categoryTableHeaders th {
    font-weight: normal;
    font-size: 1em;
    color: #707070;
    padding: .5em 2em .5em 0;
}

.definedSheets {
    margin: 1em 2em 1em;
}

.input {
    border: .1em solid #ccc !Important;
    border-radius: .5em;
    height: 2.3em !important;
    padding-left: .5em;
    width: 20em;
}

.x {
    height: 2.3em;
    cursor: pointer;
}

.deleteSheet {
    margin: 0.6em 0 0 2em;
    height: 2.3em;
    cursor: pointer;
}

.sheetRow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.columnBox {
    display: flex;
    flex-direction: column;
    margin: 1em;
}

.columns {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-left: 2em;
}

.columns label {
    margin: 0 2em;
    align-items: center;
}

.colLabel {
    display: flex;
    flex-direction: column;
    color: rgb(131, 131, 131);
}


.selectLabel {
    margin-left: 2em;
}

.select {
    padding-top: .8em;
}

.buttonContainer {
    margin-top: 4em;
    position: relative;
    right: 1em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.buttonContainer button {
    margin: 1em;
}

.labelBox {
    display: flex;
    flex-direction: column;
}
.label {
    margin-bottom: 1em;
    font-size: 1em;
    color: rgba(27, 27, 27, 0.5);
}


