.card {
    margin: 1em 0;
    background-color: #FFFFFF;
    padding: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    text-align: left;
}
