.pageContainer {
    height: 100vh;
}

.pageContentContainer {
    height: 100%;
    display: flex;
    justify-content: stretch;
    align-content: flex-start;
    width: 100%;
    background-color: #fafafa;
}

.pageContent {
    background-color: #fafafa;
    height: 100%;
    width: 99%;
    padding: 0 1.4em;
    padding-top: 3em;
    margin-left: 14em;
    font-family: -apple-system, "San Francisco", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    overflow: auto;
}