
.popupBox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.previewContainer {
    position: fixed;
    top: 3em;
    right: 0;
    width: 45%;
    height: 100vh;
    overflow: auto;
    background-color: #f2f2f2;
    padding: 20px;
    border-left: 1px solid #ccc;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
}

.invoice {
    margin: auto;
    margin-top: 2.5em;
    padding: 2em;
    width: 95%;
    height: 90%;
    background-color: #fff;
}

.img {
    height: 2em;
    cursor: pointer;
    position: fixed;
    right: 1em;
    margin-bottom: 1em;
}
