.pageContent {
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 20px;
    width: 100%;
    margin: 0 1em;
    justify-content: center;
    font-family: -apple-system, "San Francisco", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.headers {
    display: contents;
}

.headers h1 {
    font-size: 28px;
    margin-right: auto;
}


.actions {
    display: inherit;
}

.filter {
    font-family: -apple-system, "San Francisco", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 1em;
    padding: .2em;
    border: 2px solid transparent;
    align-items: center;
    cursor: pointer;
    align-content: center;
    height: 2em;
    margin-top: 0.2em;
    margin-right: .7em;
}

.filter:hover {
    border: 2px solid #ccc;
    background-color: #cccccc;
    border-radius: .4em;
}

.img {
    padding-right: .5em;
    height: 1.5em;
}

.select {
    margin-left: 2em;
}

.createInvoiceButton {
    margin-top: .15em;
    font-size: 1em;
}

@media (max-width: 1200px) {
    .pageContent {}
}