.button {
    height: 2em;
    color: #ffffff;
    background-color: #041F47;
    font-family: -apple-system, "San Francisco", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    padding: 1em;
    border: none;
    text-align: center;
    flex-wrap: wrap;
    align-content: center;
    border-radius: .4em;
    /*padding-left: 1em;*/
}

.img {
    padding-right: .1em;
    height: 1em;
    margin-bottom: .1em;
    font-weight: bold;
}

.buttonBox {
    align-items: center;
    padding-right: 1em;
    font-weight: normal;
}

.buttonWithImg {
    border: none;
    text-align: center;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    background-color: #FFFFFF;
}
