.headers {
    display: flex;
    padding: 1em;
    width: 100%;
    z-index: 10;
    flex-direction: column;
}

.headers h1 {
    font-size: 28px;
    margin-right: auto;
}

.backToInvoices {
    padding-left: 1em;
}
.headers h2 {
    text-decoration: none;
    color: #707070;
    outline: none;
    font-size: 18px;
}

.buttonWithImg {
    border: none;
    text-align: center;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    background-color: #FFFFFF;
    color: #999999;
    font-size: 1.2em;
    padding: 0;
}

.actionButtons {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    /*bottom: 0;*/
    /*right: 0;*/
}

.button {
    margin: 1em 1.5em;
}


.img {
    padding-right: .4em;
    height: 1.8em;
    width: 1.8em;
    margin-bottom: .4em;
    font-weight: bold;
    align-content: center;
    align-items: center;
}
.content {
    padding: 1em;
}

.inputContainer {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;

}

.categoryNameInput {
    border: .1em solid #ccc !Important;
    border-radius: .5em;
    height: 2.3em!important;
    width: 35em;
}

.input {
    border: .1em solid #ccc !Important;
    border-radius: .5em;
    height: 2.3em!important;
    margin-bottom: .3em;
}

.subCategoriesSwitch {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.subCategories label {
    margin-right: 1em;
}



.categoryHeaders {
    padding: 3em 0 0 0 ;
    font-size: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.hr {
    margin: 0;
}

.tableActionButtons {
    padding: 0 1em;
}

.tableActionButtons button {
    border: none;
    text-align: center;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    background-color: #FFFFFF;
    padding-left: 1em;
    color: #707070;
}

.categoryTable {
    width: 40em;
    font-family: -apple-system, "San Francisco", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 1.1em;
    text-align: left;
}


.categoryTableHeaders th {
    font-weight: normal;
    font-size: 1.1rem;
    color: #707070;
    padding: .5em 0em;
}
.checkBox {
    border: .1em solid #ccc !Important;
    border-radius: .5em;
    height: 2.3em!important;
    /*margin-right: 1em;*/
    margin-top: .8em;
    margin-bottom: .3em;
    padding-right: .5em;
}
.categoryFields td{
    margin: 0;
}
.subCategoryHeaders{
    font-size: .9em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.subcategoryTable {
    font-family: -apple-system, "San Francisco", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: .9em;
    text-align: left;
}


.subcategoryTableHeaders th {
    font-weight: normal;
    font-size: 1rem;
    color: #707070;
}

.subcategoryTableFields td{
    padding-right: 1em;
}
