.card {
    width: 80%;
    height: 85%;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 20px;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.blackRadio .next-radio::before {
    border-color: black !important;
}

.blackRadio .next-radio.checked::before {
    border-color: black !important;
}

.blackRadio .next-radio.checked .circle::after {
    background-color: black !important;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1em;
}

.buttonContainer {
    margin-top: 4em;
    position: relative;
    /*bottom: 1em;*/
    right: 1em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /*justify-content: space-between;*/
}

.buttonContainer button {
    margin: 1em;
}

.content {
    margin: 2em;
    font-size: 1em;
}

.content span {
    font-size: 1.2em;
}

.content hr {
    margin-bottom: 0;
    padding-bottom: 0;
}

.selectSheet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1em;
}

.input {
    border: .1em solid #ccc !Important;
    border-radius: .5em;
    height: 2.3em!important;
    padding-left: .5em;
    width: 20em;
    margin-bottom: .8em;
}

.x {
    height: 2.3em;
    cursor: pointer;
}
.xFirst {
    margin-top: 1.5em;
    height: 2.3em;
    cursor: pointer;
}

.columnWrapper {
    opacity: 1;
    /*max-height: 100px;*/
    transition: all 0.3s ease-in-out;
}

.columnWrapper.hide {
    opacity: 1;
    max-height: 0;
    padding: 0;
}

.columns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    /*margin-left: 2em;*/
    /*margin: 1em;*/
}

.columns label {
    margin: 0 2em;
    align-items: center;
}

.definedCol {
    margin-top: 1em;
}

.colLabel {
    display: flex;
    flex-direction: column;
    color: rgb(131, 131, 131);
}

.selectLabel {
    margin-left: 2em;
}

/*loading*/
.loadingWave {
    top: 40%;
    left: 50%;
    width: 300px;
    height: 100px;
    display: flex;
    align-items: flex-end;
    position: absolute;
}

.loadingBar {
    width: 20px;
    height: 10px;
    margin: 0 5px;
    background-color: #041F47;
    border-radius: 5px;
    animation: loadingWave-animation 1s ease-in-out infinite;
}

.loadingBar:nth-child(2) {
    animation-delay: 0.1s;
}

.loadingBar:nth-child(3) {
    animation-delay: 0.2s;
}

.loadingBar:nth-child(4) {
    animation-delay: 0.3s;
}

@keyframes loadingWave-animation {
    0% {
        height: 10px;
    }

    50% {
        height: 50px;
    }

    100% {
        height: 10px;
    }
}