.headers {
    display: flex;
    padding: 1em;
    width: 100%;
    z-index: 10;
}

.headers h1 {
    font-size: 28px;
    margin-right: auto;
}

.actions {
    display: inherit;
}

.blackRadio .next-radio::before {
    border-color: black !important;
}

.blackRadio .next-radio.checked::before {
    border-color: black !important;
}

.blackRadio .next-radio.checked .circle::after {
    background-color: black !important;
}

.invoiceHeaders {
    display: flex;
    padding: 2em 3em;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1em;
}

.selectLabel {
    font-size: 1em;
    color: rgba(40, 40, 40, 0.5);
    font-family: -apple-system, "San Francisco", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    margin-bottom: 0;
    padding-bottom: 0;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1em;
}

.customerInfo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1em;
    padding: 0 3em;
    font-size: 1em;
}

/*@media (min-width: 1600px) {*/
/*    .customerInfo {*/
/*        display: flex;*/
/*        flex-direction: row;*/
/*        padding: 0 3em;*/
/*        font-size: 1em;*/
/*    }*/
/*}*/

.items {
    padding: 2em 3em 0;
    font-size: 1em;
}

.items h2 {
    font-size: 1.3em;
}

.itemsActions {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.itemsInput {
    text-align: center;
    width: 5em;
    margin-top: 2.3em !Important;
    border-color: rgba(165, 165, 165, 0.5) !Important;
}

.table {
    /* margin-top: 2em; */
    width: 100%;
    font-family: -apple-system, "San Francisco", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 1.1em;
    border-collapse: separate;
    border-spacing: 0 1em;
    /* position: relative; */
    text-align: center;
    /* padding: 2em; */
}

.tableHeaders th {
    font-weight: normal;
    font-size: 1rem;
    color: rgba(27, 27, 27, 0.5);
    padding: 1em 0;
    position: sticky;
    background-color: #fafafa;
    text-align: center;
}

.tableDisabledInput {
    width: 6em;
    padding-top: 2em;
    text-align: center;
    margin: 0;
}

.tableDisabledInput hr {
    margin: 0;
    padding: 0;
}

.checkbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1.5em;
    font-size: 1em;
    padding-right: 1em;
}

.checkboxInput {
    width: 1em;
    height: 1em;
    accent-color: rgba(99, 99, 99, 0.5);
    border-color: rgba(40, 40, 40, 0.5);
    margin: auto;
}

.select {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tableFooters td {
    font-weight: normal;
    font-size: 1rem;
    color: rgba(27, 27, 27, 0.5);
    padding: 1em 0;
    background-color: #fafafa;
    text-align: center;
}

.paymentActions {
    display: flex;
    flex-direction: row;
    margin-bottom: 4em;
}

.paymentActions span {
    margin: .3em .5em;
}

.paymentActions span hr {
    margin: 0;
    padding: 0;
}

.labelBox {
    display: flex;
    flex-direction: column;
}

.label {
    margin-top: .2em;
    font-size: 1em;
    color: rgba(27, 27, 27, 0.5);
}

.actionButtons {
    display: flex;
    flex-direction: row-reverse;
}

.button {
    margin: 1em 1.5em;
}

.payInput {
    width: 6em !Important;
    border-color: rgba(165, 165, 165, 0.5) !Important;
    margin-left: .5em;
    margin-top: .6em!important;
    margin-right: .5em;
}
