.headers {
    display: flex;
    padding: 1em;
    width: 100%;
    z-index: 10;
    flex-direction: column;
}

.headers h1 {
    font-size: 28px;
    margin-right: auto;
}

.backToInvoices {
    padding-left: 1em;
}
.headers h2 {
    text-decoration: none;
    color: #707070;
    outline: none;
    font-size: 18px;
}

.buttonWithImg {
    border: none;
    text-align: center;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    background-color: #FFFFFF;
    color: #999999;
    font-size: 1.2em;
    padding: 0;
}

.img {
    padding-right: .4em;
    height: 1.8em;
    width: 1.8em;
    margin-bottom: .4em;
    font-weight: bold;
    align-content: center;
    align-items: center;
}

.input {
    border: .1em solid #ccc !Important;
    border-radius: .5em;
    height: 2.3em !Important;
    font-size: 1em;
    padding-left: .5em;
    width: 22em;
    margin-top: .5em!Important;
}

.buttonContainer {
    position: fixed;
/*text-align: right;*/
    bottom: 3em;
    right: 5em;
    margin: 1em;
}

.buttonContainer button {
    margin: 1em;
}

/*CompanyData panel*/

.companyDataContent {
    display: flex;
    flex-direction: row;
    /*align-items: center;*/
    /*padding: 1em;*/
}

.rowData {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
}

.rowData span {
    color: #707070;
}

/*accounts panel*/

.accountsContent {
    display: flex;
    flex-direction: column;
    margin: 0 1em;
    width: 100%;
}

.section {
    width: 100%;
    margin-bottom: 1em;
}

.sectionSpan{
    font-size: 1.1em;
    color: #707070;
}

.sectionContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
    width: 100%;
}

.sectionContent span {
    margin-left: 3em;
}

.bin {
    margin-top: .3em;
    margin-left: 3em;
}