.headers {
    display: flex;
    padding: 1em;
    width: 100%;
    z-index: 10;
    flex-direction: column;
}

.headers h1 {
    font-size: 28px;
    margin-right: auto;
}

.backToInvoices {
    padding-left: 1em;
}
.headers h2 {
    text-decoration: none;
    color: #707070;
    outline: none;
    font-size: 18px;
}

.buttonWithImg {
    border: none;
    text-align: center;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    background-color: #FFFFFF;
    color: #999999;
    font-size: 1.2em;
    padding: 0;
}

.img {
    padding-right: .4em;
    height: 1.8em;
    width: 1.8em;
    margin-bottom: .4em;
    font-weight: bold;
    align-content: center;
    align-items: center;
}

.input {
    border: .1em solid #ccc !Important;
    border-radius: .5em;
    height: 2.3em !Important;
    font-size: 1em;
    padding-left: .5em;
    width: 22em;
    margin-top: .5em!Important;
}

.buttonContainer {
    position: fixed;
/*text-align: right;*/
    bottom: 3em;
    right: 5em;
    margin: 1em;
}

.buttonContainer button {
    margin: 1em;
}

/*CompanyData panel*/

.companyDataContent {
    display: flex;
    flex-direction: row;
    /*align-items: center;*/
    /*padding: 1em;*/
}

.rowData {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
}

.rowData span {
    color: #707070;
}

/*accounts panel*/

.accountsContent {
    display: flex;
    flex-direction: column;
    margin: 0 1em;
    width: 100%;
}

.section {
    width: 100%;
    margin-bottom: 1em;
}

.sectionSpan{
    font-size: 1.1em;
    color: #707070;
}

.sectionContent {
    display: grid;
    grid-template-columns: .7fr .7fr 1fr .4fr auto;
    padding: 1em 0;
    width: 100%;
    gap: 1em;
}

.sectionContent span {
    margin-left: 1em;
}

.bin {
    justify-self: center;
}

.linkInput {
    width: 30em!important;
}

.emailInput {
    width: 30em!important;
}

.copy {
margin-bottom: .4em
}

.sendViaEmailBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1em 0;
}

.sendViaEmailBox button {
    margin-left: 1em;
    margin-top: 2em;
    height: 2.3em;
}

.invalidEmailButton {
    margin-bottom: 1.9em;
}

.accept {
    color: #041F47;
    font-weight: bold;
    cursor: pointer;
}

/*Permissions*/

.permissionsContent {

}

.userRow {
    display: grid;
    grid-template-columns: .7fr 4fr 1.5fr;
    margin: 1em 0;
    /*border: .1em solid #fafafa;*/
    /*border-radius: .5em;*/
    /*background-color: #fafafa;*/
}

.permissionHeaders {
    display: grid;
    grid-template-columns: 1.1fr 4.4fr 1.5fr;
    padding: 10px;
}

.userCell span{
    margin-right: 1em;
}

.userCell, .permissionsCell {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.permissionsCell {
    display: grid;
    grid-template-columns: .7fr .7fr .7fr .7fr ;
    grid-auto-rows: auto;
    grid-gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.permissionItem {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: .3em .5em;
    border: .1em solid #CFEFE0;
    background-color: #CFEFE0;
    border-radius: .5em;
}

/*popup*/

.popupBox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
}

.headersPopup {
    position: absolute;
    top: 50%;
    left: 56%;
    padding: 1em;
    width: 20em;
    background-color: #f8f8f8;
    border-radius: 20px;
    overflow-y: auto;
    z-index: 20;
    transform: translate(-50%, -50%);
    margin: 0;
    height: 21em;
    display: flex;

    flex-direction: column;
    justify-content: space-between;

}

.headersPopup h4 {
    /*margin: 0;*/
    text-align: center;
}

.popupBody {
    align-items: center;
}


.popupButtons {
    display: flex;
    justify-content: space-between;
    /*position: fixed;*/
    margin-top: 1.5em;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.center label span {
    margin-bottom: .5em;
}
