.aside {
    height: 94.4vh;
    /* height: 93.5vh; */
    width: 14%;
    text-decoration-color: white;
    background: #041F47;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    font-family: -apple-system, "San Francisco", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.li {
    margin: 10px 0;
}

.a {
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
}

.a:hover {
    cursor: default;
    color: #ccc;
}

.mainA {
    /*font-family: -apple-system, "San Francisco", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;*/
    position: relative;
    font-size: 14px;
    padding: 5px 10px;
    border: 2px solid transparent;
}

.mainA:hover {
    border-radius: 5px;
}

.pageContent {
    display: flex;
    /*flex-direction: row;*/
    justify-content: space-between;
    /*align-items: center;*/
}

.icon {
    color: white;
    font-size: 10px;
    padding-right: 5%;
}

.arrow_icon {
    font-size: 14px;
    padding-right: 10px;
    transition: transform 0.2s ease-in-out;
    transform-origin: center;
}

.gear_icon {
    font-size: 14px;
}

.icon:hover {
    color: #ccc;
}

.settings {
    list-style: none;
    margin: 0;
    padding-bottom: 4%;
}

.settings a {
    margin: 0;
    padding: 20px;
}

.dropdown {
    position: relative;
}

.mainCategory {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.dropdownContent {
    position: relative;
    left: 17%;
}

.dropdownContent li {
    margin: 5px 0;
}

.dropdownContent li a {
    font-size: 14px;
    color: #ffffff;
    padding: 0 10px;
    border: 2px solid transparent;
    display: block;
    margin: 5px 0;

}

.dropdownContent li a span {
    padding: 5px 10px;
    border: 2px solid transparent;
}

.dropdownContent li a span:hover {
    border-radius: 5px;
}
@media (min-width: 1200px) and (max-width: 1650px) {
    .aside {
        /*right: 75%;*/
        min-width: 12rem;
    }
    .icon {
        width: 7%;
        font-size: 78%;
    }
    .mainA {
        position: relative;
        font-size: 14px;
        padding: 5px 10px;
        border: 2px solid transparent;
    }
    .dropdownContent li a {
        font-size: 90%;

    }
}

@media (max-width: 1200px) {
    .aside {
        /*right: 75%;*/
        min-width: 10rem;
    }
    .icon {
        width: 7%;
        font-size: 78%;
    }
    .mainA {
        position: relative;
        font-size: 80%;
        padding: 5px 10px;
        border: 2px solid transparent;
    }
    .dropdownContent li a {
        font-size: 70%;
    }
}