.headers {
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    padding: 1em;
    margin: 1em;
}

.accountIcon {
    height: 7em;
}

.avatar {
    width: 8.5em;
    height: 8.5em;
    border-radius: 50%;
    overflow: hidden;
    background-color: #D9D9D9;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-right: 1em;
    margin-top: 1em;
}

.back {
    padding-left: 1em;
}

.buttonWithImg {
    border: none;
    text-align: center;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    background-color: #FFFFFF;
    color: #999999;
    font-size: 1.2em;
    padding: 0;
}

.img {
    padding-right: .4em;
    height: 1.8em;
    width: 1.8em;
    margin-bottom: .4em;
    font-weight: bold;
    align-content: center;
    align-items: center;
}
.companyDetails {
    margin: 2em;
}

.companyContacts {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 1em;
}

.tmp {
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;

}

.companyData {
    display: grid;
    grid-template-rows: repeat(1, .1fr);
    grid-gap: 1em;
    margin-right: 2em;
}

.spanHeader {
    /*font-weight: bold;*/
    color: #9BA5B5;
}