.headers {
    display: flex;
    flex-direction: row;
    padding: 1em;
    margin: 1em;
}

.accountIcon {
    height: 7em;
}

.avatar {
    width: 8.5em;
    height: 8.5em;
    border-radius: 50%;
    overflow: hidden;
    background-color: #D9D9D9;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-right: 1em;
    margin-top: 1em;
}

.link {
    display: flex;
    width: 6em;
}

.back {
    padding-left: 1em;
}

.buttonWithImg {
    border: none;
    text-align: center;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    background-color: #FFFFFF;
    color: #999999;
    font-size: 1.2em;
    padding: 0;
}

.img {
    padding-right: .4em;
    /*height: 1.5em;*/
    width: 1.8em;
    margin-bottom: .4em;
    font-weight: bold;
    align-content: center;
    align-items: center;
}
.companyDetails {
    margin: 2em;
}

.companyContacts {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 1em;
}

.tmp {
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1em;

}

.companyData {
    display: grid;
    grid-template-rows: repeat(1, .1fr);
    grid-gap: 1em;
    margin-right: 2em;
}

.spanHeader {
    color: #9BA5B5;
}

/*Add customer popup */

.popupBox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.popupContent {
    position: absolute;
    top: 50%;
    left: 56%;
    padding: 1em;
    width: 43.8em;
    background-color: #FFFFFF;
    border-radius: 20px;
    overflow-y: auto;
    z-index: 20;
    transform: translate(-50%, -50%);
    margin: 0;
    height: 32em;
}

.popupContent h4 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rowData span {
    color: #707070;
}

.input {
    border: .1em solid #ccc !Important;
    border-radius: .5em;
    height: 2.3em !important;
    padding-left: .5em;
    margin-bottom: .5em;
}

.addCustomerFields {
    margin: 2em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
    margin-bottom: 1.5em;
}

.buttonsContainer {
    display: flex;
    justify-content: flex-end;
}

.buttonsContainer button {
    margin-right: 2em;
}

.companyNameEdit {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.companyNameEdit h4 {
    margin-right: .8em;
}