.input {
    font-size: 1em;
    /*padding: 10px;*/
    border: none;
    border-bottom: .1em solid #949bab;
    outline: none;
    margin-top: .8em ;
    height: 1.3em;
    width: 15em;
}

.label {
    color: rgba(40, 40, 40, 0.5);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.label span{
    font-size: 1em;
}

@media (min-width: 1200px) and (max-width: 1650px) {
    .input{
        width: 12em;
    }
}

@media (max-width: 1200px) {
    .input{
        width: 10em;
    }
}