.input {
    font-size: 1em;
    /*padding: 10px;*/
    border: none;
    border-bottom: .1em solid #949bab;
    outline: none;
    margin-top: .8em ;
    height: 1.3em;
    /* width: 15em; */
}

.label {
    color: rgba(40, 40, 40, 0.5);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.label span{
    font-size: 1em;
}

@media only screen and (min-width: 20000px){
    .input{
         width: 15em;
    }
}

@media (max-width: 1000px) {
    .input{
         width: 10em;
    }
}